* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin df ($jc,$ai){
    display: flex;
    justify-content: $jc;
    align-items:$ai;
}
@mixin dg ($gtc,$gg){
    display: grid;
    grid-template-columns:$gtc;
    grid-gap: $gg;
} 
$cl:rgb(123,148,237);
$vh:100vh;
$fz:20px;
a{
    text-decoration: none;
}
 header{
    background-color: $cl;
    height:$vh;
    font-size: $fz;
 }
 nav{
    @include df(space-around,center);
    padding-top:40px;
    a{
        margin-left: -800px;
    }
 }

    .asos{
        display: flex;
        .ff{
            margin-left: 500px;
            h1{
                margin-top: 300px;
                font-size: 50px;
                color: rgb(240,237,237);
                margin-right: 500px;
            }
            p{
                width: 400px;
            }
        }
    }
    img{
        margin-left: -600px;
    }
 